# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Build outputs
dist/
build/

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# NX/Angular Cache
.angular/
.nx/
.vercel

# Ignore typescript compiled JS files in source directories
apps/api/src/**/*.js
apps/api/src/**/*.js.map
