:host {
  display: block;
}

.mesh-gradient {
  background-image:
    radial-gradient(at 0% 0%, rgba(75, 226, 119, 0.15) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgba(5, 102, 217, 0.15) 0px, transparent 50%),
    radial-gradient(at 50% 100%, rgba(75, 226, 119, 0.1) 0px, transparent 50%);
  background-color: #020617;
  -webkit-tap-highlight-color: transparent;
}

.glass-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  vertical-align: middle;
}
